<launch>
  <rosparam file="$(find robotiq_c2_control)/config/robotiq_c2_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/robotiq_c2" args="joint_state_controller robotiq_85_left_knuckle_joint_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/robotiq_c2/joint_states"/>
  </node>
</launch>
